*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(close-up-islamic-new-year-concept.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.main{
    
    justify-content: center;
    height: 100vh;
    align-items: center;
   margin-top: 50px;
  
     
} 
.main .heading{
    font-family: sans-serif;
    font-size: 32px;
    color: red;
    margin-bottom: 20px;
}
.main span{
    background-color: yellow ;
    font-size: 32px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    margin: auto;
    border:2px solid rgb(221, 255, 0) ;
    padding: 20px;
    border-radius: 100px;
}

.main .btns button{
    padding: 20px 20px;
    margin: 5px;
    background-color: aqua;
    /* display: flex; */
    justify-content: center;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    align-items: center;
}
